/*Reset*/
*{
    padding: 0px;
    margin: 0px;
}
a
{
    text-decoration: none;
    vertical-align: middle;
}
nav
{
    width: 100%;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;

}
nav ul
{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
    font-size: 2rem;

}
nav ul li
{
    display: inline-flex;
    font-size: 32px;
    margin: 0 1rem;
    text-align: center;
}
nav ul li img
{
    width: 16rem;
}

a:hover{
    color:rgb(57, 50, 62);
    border: rgb(57, 50, 62) solid 1px;
    background-color: rgba(57, 50, 62, .1);
}
.resume{
    height: 39.2rem;
    width: 73.7rem;
    position: relative;
    left: 12rem;
    margin-top: 2rem;
    display: inline-flex;
    justify-content: center;
}
embed{
    height: 100%;
    width: 100%;
}
.button{
    color:rgb(57, 50, 62);
    border: rgb(57, 50, 62) solid 1px;
    background-color: rgba(57, 50, 62, .1);
    border-radius: 25%;
    padding: 10px 5px;
    position: relative;
    align-items: center;
    display: inline-flex;
    left: 50%;
}
.button:hover {
    background-color: rgba(57, 50, 62, .6);
    color: azure;
}